*~
*#
bin
*.user*
./build*
*.sw?
tags
.ycm_extra_conf.pyc
*.autosave
*DS_Store*
*.gz
*.rpm
*.zip
*.bak
*.patch
.vscode
deps
tbb
embree
ispc
./ospray-doc
readme.pdf
!/modules
/modules/*
!/modules/mpi
!/modules/pluggableGeometryExample
!/modules/simdGeometryExample
!/modules/denoiser
*.vim
.idea/
premake.local.*
cmake-build*/
