stages:
  - build
  - deploy

### BUILD JOBS ###

build-centos6-gcc:
  type: build
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - centos6
    - gcc
    - build

build-centos6-icc:
  type: build
  script:
    - module load intel
    - export CC=icc
    - export CXX=icpc
    - scripts/build_gitlab/linux.sh
  tags:
    - centos6
    - icc
    - build

build-centos7-gcc:
  type: build
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - centos7
    - gcc
    - build

build-arch-gcc:
  type: build
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - arch
    - gcc
    - build

build-ubuntu1604-gcc:
  type: build
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - ubuntu1604
    - gcc
    - build

build-ubuntu1604-clang:
  type: build
  script:
    - export CC=clang
    - export CXX=clang++
    - scripts/build_gitlab/linux.sh
  tags:
    - ubuntu1604
    - clang

build-ubuntu1404-gcc:
  type: build
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - ubuntu1404
    - gcc
    - build

build-sles-gcc:
  type: build
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - sles
    - gcc
    - build

build-debug:
  type: build
  script:
    - scripts/build_gitlab/linux.sh -DCMAKE_BUILD_TYPE=Debug
  tags:
    - gcc
    - linux
    - build

build-mpi:
  type: build
  script:
    - scripts/build_gitlab/linux.sh -DOSPRAY_MODULE_MPI=ON
  tags:
    - linux
    - mpi
    - build

build-osx-clang:
  type: build
  script:
    - scripts/build_gitlab/osx.sh
  tags:
    - osx
    - clang
    - build

build-windows-msvc:
  type: build
  script:
    - call scripts\build_gitlab\win.bat "Visual Studio 12 2013 Win64" "v120"
  tags:
    - msvc
    - build
    - win7

build-windows-msvc14:
  type: build
  script:
    - call scripts\build_gitlab\win.bat "Visual Studio 14 2015 Win64" "v140"
  tags:
    - msvc14
    - build
    - win7

build-windows-icc:
  type: build
  script:
    - call scripts\build_gitlab\win.bat "Visual Studio 12 2013 Win64" "Intel C++ Compiler 17.0"
  tags:
    - icc
    - build
    - win7

### RELEASE JOBS ###

# NOTE(jda) - Current CentOS 6 release machine needs gcc environment
#             debugged
#release-linux-gcc:
#  type: deploy
#  script:
#    - module load gcc
#    - export CC=gcc
#    - export CXX=g++
#    - export OSPRAY_RELEASE_NO_VERIFY=1
#    - scripts/release/linux.sh
#  tags:
#    - gcc
#    - release
#    - centos6
#  only:
#    - devel
#    - master
#    - release-1.0
#  artifacts:
#    paths:
#      - build_release/*.gz

release-linux-icc:
  type: deploy
  script:
    - module load cmake
    - module load gcc
    - module load intel
    - module load qt
    - export CC=icc
    - export CXX=icpc
    - scripts/release/linux.sh
  tags:
    - icc
    - release
    - centos6
    - mpi
  only:
    - devel
    - master
    - release-1.2.x
  artifacts:
    paths:
      - build_release/*.gz

release-osx-clang:
  type: deploy
  script:
    - export CC=clang
    - export CXX=clang++
    - scripts/release/macosx.sh
  tags:
    - clang
    - release
    - osx
    - mpi
  only:
    - devel
    - master
    - release-1.2.x
  artifacts:
    paths:
      - build_release/*.gz
      - build_release/*.dmg

release-windows:
  type: deploy
  script:
    - call scripts\release\win.bat
  tags:
    - msvc
    - release
    - win7
    - mpi
  only:
    - devel
    - master
    - release-1.2.x
  artifacts:
    paths:
      - build_release\ospray*.zip
      - build_release\ospray*.exe
