stages:
  - build
  - test-src
  - test-build
  - deploy

variables:
  GIT_DEPTH: "15"
  KW_PROJECT_NAME: ospray

.job_template: &build_job_docker
  stage: build
  tags:
    - docker
  image: ospray/docker-images:arch  # default image
  script:
    - scripts/build_gitlab/linux.sh # default script

.job_template: &build_job_shell
  stage: build
  tags:
    - build

.job_template: &release_job
  stage: deploy
  tags:
    - release
  dependencies:
    - test-centos6-gcc
    - pdf
  only:
    - devel
    - master
    - /^release-.*$/

.job_template: &test_job
  stage: test-build
  tags:
    - docker
  script:
    - scripts/tests/run_tests.sh
  artifacts:
    paths:
      - $CI_PROJECT_DIR/build/tests.xml
      - $CI_PROJECT_DIR/build/failed
    expire_in: 1 week
    when: always

.job_template: &test_job_windows
  <<: *test_job
  script:
    - scripts\tests\run_tests.bat
  artifacts:
    paths:
      - tests.xml
      - failed
    expire_in: 1 week
    when: always


### BUILD JOBS ###

build-arch-gcc:
  <<: *build_job_docker

build-arch-clang:
  <<: *build_job_docker
  script:
    - export CC=clang
    - export CXX=clang++
    - scripts/build_gitlab/linux.sh

build-arch-gcc-warnings:
  <<: *build_job_docker
  script:
    - scripts/build_gitlab/linux.sh -DOSPRAY_STRICT_BUILD=ON -DOSPRAY_WARN_AS_ERRORS=ON -DOSPRAY_MODULE_MPI=ON
  allow_failure: true

build-arch-clang-warnings:
  <<: *build_job_docker
  script:
    - export CC=clang
    - export CXX=clang++
    - scripts/build_gitlab/linux.sh -DOSPRAY_STRICT_BUILD=ON -DOSPRAY_WARN_AS_ERRORS=ON -DOSPRAY_MODULE_MPI=ON
  allow_failure: true

build-ubuntu1604-gcc:
  <<: *build_job_docker
  image: ospray/docker-images:ubuntu16.04
  artifacts:
    paths:
      - $CI_PROJECT_DIR
    expire_in: 3 day

build-ubuntu1404-gcc:
  <<: *build_job_docker
  image: ospray/docker-images:ubuntu14.04
  artifacts:
    paths:
      - $CI_PROJECT_DIR
    expire_in: 3 day

build-centos6-gcc:
  <<: *build_job_docker
  image: ospray/docker-images:centos6
  artifacts:
    paths:
      - $CI_PROJECT_DIR
    expire_in: 3 day

build-centos6-icc:
  <<: *build_job_shell
  script:
    - module load gcc/4.8.2
    - module load intel
    - module load embree
    - module load tbb
    - export CC=icc
    - export CXX=icpc
    - scripts/build_gitlab/linux.sh
  tags:
    - centos6
    - icc

build-centos6-icc15:
  <<: *build_job_shell
  script:
    - module load gcc/4.8.2
    - module load intel/2015
    - module load embree
    - module load tbb
    - export CC=icc
    - export CXX=icpc
    - scripts/build_gitlab/linux.sh
  tags:
    - centos6
    - icc

build-centos7-gcc:
  <<: *build_job_docker
  image: ospray/docker-images:centos7
  artifacts:
    paths:
      - $CI_PROJECT_DIR
    expire_in: 3 day

build-debug:
  <<: *build_job_docker
  script:
    - scripts/build_gitlab/linux.sh -DCMAKE_BUILD_TYPE=Debug

build-mpi:
  <<: *build_job_docker
  script:
    - scripts/build_gitlab/linux.sh -DOSPRAY_MODULE_MPI=ON

build-osx-clang:
  <<: *build_job_shell
  script:
    - scripts/build_gitlab/osx.sh
  tags:
    - osx
    - clang

build-windows-msvc14:
  <<: *build_job_shell
  script:
    - scripts\build_gitlab\win.bat "Visual Studio 14 2015 Win64" "v140" "ON"
  tags:
    - msvc14
    - win7
  artifacts:
    paths:
      - build/Release
      - build/regression_tests
    expire_in: 3 day

build-windows-msvc15:
  <<: *build_job_shell
  script:
    - scripts\build_gitlab\win.bat "Visual Studio 15 2017 Win64" "v141" "OFF"
  tags:
    - msvc15
    - win7
  artifacts:
    paths:
      - build/Release
      - build/regression_tests
    expire_in: 3 day

build-windows-icc:
  <<: *build_job_shell
  script:
    - scripts\build_gitlab\win.bat "Visual Studio 14 2015 Win64" "Intel C++ Compiler 18.0" "ON"
  tags:
    - icc18
    - win7
  artifacts:
    paths:
      - build/Release
      - build/regression_tests
    expire_in: 3 day

build-scan-kw:
  stage: build
  image: ospray-kw-centos7
  script:
    - /tmp/build-scan-kw.sh
  tags:
    - kw-scan-docker
  artifacts:
    paths:
        - $CI_PROJECT_DIR/kw_build_number
    expire_in: 3 day


### TEST JOBS ###

test-gen-centos7-gcc:
  <<: *test_job
  image: ospray/docker-images:centos7
  script:
    - cd $CI_PROJECT_DIR/build
    - ../scripts/tests/generate_baseline.sh
  artifacts:
    paths:
     - $CI_PROJECT_DIR/build/img
    expire_in: 1 week
  dependencies:
      - build-centos7-gcc
  when: manual

test-centos7-gcc:
  <<: *test_job
  image: ospray/docker-images:centos7
  dependencies:
    - build-centos7-gcc

test-centos6-gcc:
  <<: *test_job
  image: ospray/docker-images:centos6
  dependencies:
    - build-centos6-gcc

test-ubuntu1404-gcc:
  <<: *test_job
  image: ospray/docker-images:ubuntu14.04
  script:
    - LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64/ scripts/tests/run_tests.sh
  dependencies:
    - build-ubuntu1404-gcc

test-ubuntu1604-gcc:
  <<: *test_job
  image: ospray/docker-images:ubuntu16.04
  script:
    - LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64/ scripts/tests/run_tests.sh
  dependencies:
    - build-ubuntu1604-gcc

test-windows-icc:
  <<: *test_job_windows
  tags:
    - win7
    - icc
  dependencies:
    - build-windows-icc

test-windows-msvc15:
  <<: *test_job_windows
  tags:
    - win7
    - msvc14
  dependencies:
    - build-windows-msvc15

test-windows-msvc14:
  <<: *test_job_windows
  tags:
    - win7
    - msvc14
  dependencies:
    - build-windows-msvc14

benchmark-centos7-gcc:
  stage: test-build
  image: ospray/docker-images:centos7
  script:
    - cd $CI_PROJECT_DIR/build
    - mkdir benchmarks
    - make ospray_bench_data
    - ln -s /opt/ospray/benchmark/test_data $CI_PROJECT_DIR/build/test_data
    - ../scripts/bench/run_benchmark_datasets.py --output benchmarks/stats.csv --baseline benchmarks/baseline/stats.csv --reference benchmarks/baseline --renderer scivis
  tags:
    - docker
    - ospray-benchmark
  artifacts:
    paths:
      - $CI_PROJECT_DIR/build/bench_output
      - $CI_PROJECT_DIR/build/benchmarks/stats.csv
    expire_in: 1 week
    when: always
  dependencies:
    - build-centos7-gcc
  when: manual

test-kw-critical:
  stage: test-src
  image: ospray-kw-centos7
  script:
    - /tmp/test-kw-critical.sh
  dependencies:
    - build-scan-kw
  tags:
    - kw-scan-docker

source-protex-scan:
  stage: build
  image: ospray-protex-centos7
  script:
    - /tmp/source-scan-protex.sh
  dependencies:
  tags:
    - protex-scan-docker
  ## Temporarily allow to fail
  when: manual
  allow_failure: true


### Documentation ###

.job_template: &doc-defaults
  stage: build
  tags:
    - docker
  image: ospray/docker-images:docu
  variables:
    GIT_SUBMODULE_STRATEGY: normal

pdf:
  <<: *doc-defaults
  script:
    - cd doc
    - make pdf
  only:
    - devel
    - /^release-.*$/
    - master
  artifacts:
    paths:
      - readme.pdf
    expire_in: 1 week

web:
  <<: *doc-defaults
  script:
    - cd doc
    - make www
  only:
    - master
  artifacts:
    paths:
      - doc/www/*
    expire_in: 1 week


### RELEASE JOBS ###

release-linux-icc:
  <<: *release_job
  script:
    - module load cmake
    - module load gcc/4.8.2
    - module load intel
    - module load embree
    - export CC=icc
    - export CXX=icpc
    - scripts/release/linux.sh
  tags:
    - icc
    - centos6
    - mpi
  artifacts:
    paths:
      - build_release/*.gz

release-osx-clang:
  <<: *release_job
  script:
    - export CC=clang
    - export CXX=clang++
    - scripts/release/macosx.sh
  tags:
    - clang
    - osx
    - mpi
  artifacts:
    paths:
      - build_release/*.gz
      - build_release/*.dmg

release-windows:
  <<: *release_job
  script:
    - scripts\release\win.bat
  tags:
    - msvc
    - win7
    - mpi
  artifacts:
    paths:
      - build_release\ospray*.zip
      - build_release\ospray*.msi
