stages:
  - build
  - deploy

.job_template: &build_job
  type: build
  tags:
    - build
  variables:
    GIT_DEPTH: "3"

.job_template: &release_job
  type: deploy
  tags:
    - release
  only:
    - devel
    - master
    - release-1.4.x

### BUILD JOBS ###

build-centos6-gcc:
  <<: *build_job
  script:
    - module load gcc
    - module load tbb
    - scripts/build_gitlab/linux.sh
  tags:
    - centos6
    - gcc

build-centos6-icc:
  <<: *build_job
  script:
    - module load gcc
    - module load intel
    - export CC=icc
    - export CXX=icpc
    - scripts/build_gitlab/linux.sh
  tags:
    - centos6
    - icc

build-centos6-icc15:
  <<: *build_job
  script:
    - module load gcc
    - module load intel/2015
    - export CC=icc
    - export CXX=icpc
    - scripts/build_gitlab/linux.sh
  tags:
    - centos6
    - icc

build-centos7-gcc:
  <<: *build_job
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - centos7
    - gcc

build-arch-gcc:
  <<: *build_job
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - arch
    - gcc

build-ubuntu1604-gcc:
  <<: *build_job
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - ubuntu1604
    - gcc

build-ubuntu1604-clang:
  <<: *build_job
  script:
    - export CC=clang
    - export CXX=clang++
    - scripts/build_gitlab/linux.sh
  tags:
    - ubuntu1604
    - clang

build-ubuntu1404-gcc:
  <<: *build_job
  script:
    - scripts/build_gitlab/linux.sh
  tags:
    - ubuntu1404
    - gcc

build-debug:
  <<: *build_job
  script:
    - scripts/build_gitlab/linux.sh -DCMAKE_BUILD_TYPE=Debug
  tags:
    - gcc
    - linux

build-mpi:
  <<: *build_job
  script:
    - scripts/build_gitlab/linux.sh -DOSPRAY_MODULE_MPI=ON
  tags:
    - linux
    - mpi
    - gcc

build-osx-clang:
  <<: *build_job
  script:
    - scripts/build_gitlab/osx.sh
  tags:
    - osx
    - clang

build-windows-msvc:
  <<: *build_job
  script:
    - call scripts\build_gitlab\win.bat "Visual Studio 12 2013 Win64" "v120"
  tags:
    - msvc
    - win7

build-windows-msvc14:
  <<: *build_job
  script:
    - call scripts\build_gitlab\win.bat "Visual Studio 14 2015 Win64" "v140"
  tags:
    - msvc14
    - win7

build-windows-msvc15:
  <<: *build_job
  script:
    - call scripts\build_gitlab\win.bat "Visual Studio 15 2017 Win64" "v141"
  tags:
    - msvc15
    - win7

build-windows-icc:
  <<: *build_job
  script:
    - call scripts\build_gitlab\win.bat "Visual Studio 12 2013 Win64" "Intel C++ Compiler 17.0"
  tags:
    - icc
    - win7

### RELEASE JOBS ###

release-linux-icc:
  <<: *release_job
  script:
    - module load cmake
    - module load gcc/4.8.2
    - module load intel
    - export CC=icc
    - export CXX=icpc
    - scripts/release/linux.sh
  tags:
    - icc
    - centos6
    - mpi
  artifacts:
    paths:
      - build_release/*.gz

release-osx-clang:
  <<: *release_job
  script:
    - export CC=clang
    - export CXX=clang++
    - scripts/release/macosx.sh
  tags:
    - clang
    - osx
    - mpi
  artifacts:
    paths:
      - build_release/*.gz
      - build_release/*.dmg

release-windows:
  <<: *release_job
  script:
    - call scripts\release\win.bat
  tags:
    - msvc
    - win7
    - mpi
  artifacts:
    paths:
      - build_release\ospray*.zip
      - build_release\ospray*.exe
