*~
*#
bin
*.user*
/build*
install*
*.sw?
tags
.ycm_extra_conf.pyc
*.autosave
*DS_Store*
*.gz
*.rpm
*.zip
*.bak
*.patch
.vscode
deps
tbb
embree
ispc
./ospray-doc
readme.pdf
!/modules
/modules/*
!/modules/cpu
!/modules/denoiser
!/modules/mpi
!/modules/multiDevice
!/modules/pluggableGeometryExample
!/modules/simdGeometryExample
*.vim
.idea/
premake.local.*
cmake-build*/
.clangd
compile_commands.json
