body {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color:#373737;
    background: #f2f2f2;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-style: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    font-weight: 700;
    color: #0071C5;
    letter-spacing: normal;
    clear: both;
}

h2 {
    background: none;
    border-top: 1pt solid #333;
    padding-top: 0.5em;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 16px; }

p {
    margin: 10px 0 15px 0;
}

dl dt { font-weight:bold;
}

code { font-size: 90%; }

li p { margin: 0 }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em 1ex 0;
}
figcaption {
 color: #666;
 text-align: center;
}
div.left {
  float: left;
  max-width: 250px;
  margin: 0;
  padding: 0;
}
br { clear:both; }

#TOC {
  max-height: 100%;
  max-width: calc(190px + 4em);
  top: 125px;
  left: -4em;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background: #e0e0e0;
  padding-right: 10px;
  text-align: left;
}
/* hide top-level items */
#TOC > ul > li  { list-style: none; }
#TOC > ul > li > a { display: none; }
#TOC > ul > li > ul  { list-style: none; }

#demo-bullets { font-size: 90%; }

#footer  {
    padding-top: 5px;
    margin: 0;
    text-align: center;
    background:#212121;
    position:fixed;
    bottom:0px;
    height:22px;
    width:100%;
    font-size: 12px;
    color: #ffffff;
}

#footer_padding {
    margin: 0;
    text-align: center;
    background:#212121;
    bottom:0px;
    width:100%;
    height:100%;
    font-size: 12px;
    color: #ffffff;
}

#footer a:hover {
    color:#ff0000;
}
#footer a {
    color:#ffffff;
}

#header {
    color: #fff;
    position: fixed;
    width: 100%;
    letter-spacing: -1px;
    background: #379;
    z-index: 2;
    display: block;
}

#content-wrap {
    width:100%;
    height:calc(100% - 134px);
    position:fixed;
    top:107px;
    overflow:auto;
    background: #f2f2f2;
}

#content, #content-wtoc {
    padding-left: 5px;
    padding-right: 0px;
    position:static;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    padding-top:10px;
    padding-bottom:10px;
}

/* prevent content to reach into TOC if not enough space */ 
@media screen and ( max-width: 1444px ) {
  #content-wtoc {
    margin-left: 200px;
    margin-right: 0px;
  }
}

#header-title  {
    /*display:inline-block;*/
    margin: 0;
    color: #fff;
    font-size: 42px;
    /*background:#212121; */
    font-weight: 700;
    padding: 20px 0px 0px 10px;
    text-shadow: #111 0px 0px 10px;
    /*padding-left: 100px;*/
    padding-top:10px;
    letter-spacing: -1px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#header-subtitle  {
    display:inline-block;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    /*background: none;*/
    text-shadow: #111 0px 0px 10px;
    /*padding-top: 10px;*/
    /*padding-left: 100px;*/
    padding-left: 10px;
    /*padding-bottom: 10px;*/
    /*background:#212121; */
    letter-spacing: -1px;
}



#header-github  {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    background: none;
}

#forkme-banner  {
    display: block;
    position: absolute;
    top:0;
    right: 20px;
    width:250px;
    z-index: 10;
    padding: 10px 0px 10px 20px;
    color: #fff;
    background: url('images/blacktocat.png') #0090ff no-repeat 80% 50%;
    font-weight: 700;
}


#header-spacing  {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    height:5px;
    background: #f2f2f2;
}
#footer-spacing  {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    height:5px;
    background: #f2f2f2;
}

#header-navbar  {
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    background: #444;
    padding-top: 0px;
    padding-bottom: 4px;
    height:18px;
}
#header-navbar ul {
    list-style : none;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#header-navbar ul li {
    display: inline;
}
#header-navbar ul li a {
    display: block;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    color: #DFDFDF;
    text-decoration: none;
}
#header-navbar ul li a:hover {
    color: #FAFAFA;
}
#header-navbar ul li#selected a {
    color: #fff;
}

.title
{
  border: 0; padding: 0; margin: 0;
  margin-bottom: 20px;
}

.title h1 {
  color: #333;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0; padding: 0; margin: 0;
  border: 0;
 }

.title h2 {
  color: #888;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  border: 0; padding: 0; margin: 0;
  border: 0;
}

.teaser-features {
  margin: 10px auto 150px auto;
}

div.feature {
    /* display:inline-block; */
    /* width: 100%; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    /* width: 40%; */
    width: 400px;
    height: 200px;
    display: block;
}
div.feature a {
    color:#373737;
}
div.feature img {
    float: left;
    display:inline-block;
    width: 360px;
    height: 260px;
    padding:0;
    box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.86);
}
.feature-alt
{
    display: block;
    float: left;
    padding-left: 184px;
}
.feature-alt img
{
    float: right !important;
}

.feature .container {
    /* margin-left: 20px;
    margin-right: 20px;
    display:inline-block;
    max-width: 544px;
    color: #666;
    font-size: 18px;
    font-weight: 200; */
}

div.feature p {
    /* padding-left: 20px; */
    color: #777;
}

div.feature h2 {
    text-align: center;
    border: 0;
    color:#555;
    font-size: 26px; 
}

.fadein {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0;
    position: relative;
    padding-bottom: 58.59375%; /* 600/1024 */
    max-width: 1000px;
}
#f1 {
    box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.86);
}
.fadein img {
    margin-left: auto;
    max-width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
}

.teaser-img {
  margin-top: 60px;
  margin-bottom: 60px;
}


.fade {
    animation: fade 30s 1;
}
@keyframes fade {
      0% {opacity: 0;}
      5% {opacity: 0;}
     20% {opacity: 1;}
     25% {opacity: 1;}
     45% {opacity: 0;}
     50% {opacity: 0;}
     60% {opacity: 1;}
     65% {opacity: 1;}
     75% {opacity: 0;}
     80% {opacity: 0;}
    100% {opacity: 1;}
}

hr {
    width: 60%;
    display: block;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1.5px solid #aaa;
    padding: 0;
}

table {
  counter-increment: table;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0px solid #373737;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
table > caption:before {
  content: 'Table ' counter(table) ': ';
  color: #0071C5;
}

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #0071C5;
  color: #fff;
}

td {
  padding: 10px;
  border: 0px solid #373737;
  color: #222;
  background-color: #fff;
  vertical-align:top;
}

div.figure {
  clear: both;
  counter-increment: figure;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0 0 3em 0;
  display: inline-block;
  width: 100%;
}
p.caption {
  margin-top: 3ex;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}
p.caption:before {
  content: 'Figure ' counter(figure) ': ';
  color: #0071C5;
}

.carousel {
    position: relative;
}
  
  .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 4em;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    height: 428px;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next:not(.carousel-item-left),
  .active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  .carousel-item-prev:not(.carousel-item-right),
  .active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: 0s 0.6s opacity;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
      transition: none;
    }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 4em;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
      transition: none;
    }
  }
  
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50% / 100% 100%;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    padding-bottom: 20px;
  }
  
  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 45px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
      transition: none;
    }
  }
  
  .carousel-indicators .active {
    opacity: 1;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -80px;
    left: 15%;
    z-index: 1;
    padding-top: 40px;
    color: #fff;
    text-align: center;
    overflow: visible;
    line-height: normal;
  }

  .carousel-caption h3 {
    color: #555;
  }

  .carousel-caption p {
    color: #777;
  }
  
  .carousel img {
    padding: 0px;
    margin-bottom:8px;
    box-shadow: 0 8px 10px -6px black;
  }

  .gallery {
    display: grid;
    #border: 2px dashed rgba(114, 186, 94, 0.35);
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    #background: rgba(114, 186, 94, 0.05);
  }

  .exhibit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em 1ex 0;
#    width: 50%;
#    height: 50%;
    font-size: 16px;
    margin: 5px 0;
    font-weight: 700;
    color: #0071C5;
    letter-spacing: normal;
    clear: both;
 text-align: center;
  }

  .exhibit img {
    margin: 0;
    padding: 0;
    #float: left;
    #display:inline-block;
    display: block;
    float: left;
    width: 300px;
    box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.86);
  }

  .exhibit .caption {
    font-size: 12px;
    color: #555;
 text-align: center;
  }